/*=============== GOOGLE FONTS ===============*/
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=League+Spartan:wght@400;500;600;700&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: ;

  /*========== Colors ==========*/
  /* Color mode HSL(hue, saturation, lightness) */
  --first-color:hsl(176,88%,27%) ;
  --first-color-alt: hsl(129,44%,94%) ;
  --second-color: hsl(34,94%,87%) ;
  --title-color:hsl(0,0%,13%)  ;
  --text-color: hsl(154,13%,32%) ;
  --text-color-light: hsl(60,1%,56%) ;
  --body-color: hsl(0,0%,100%) ;
  --container-color: hsl(0,0%,93%) ;
  --border-color: hsl(129,36%,85%) ;
  --border-color-alt: hsl(113,15%,90%) ;

  /*========== Font and typography ==========*/
  /* .5rem = 8px | 1rem = 16px ... */
  --body-font:'Lato', sans-serif; ;
  --second-font: 'League Spartan', sans-serif; ;
  --big-font-size:3.5rem ;
  --h1-font-size: 2.75rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.75rem;
  --h4-font-size: 2.375rem;
  --large-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 2.75rem;
  --tiny-font-size: 0.6875rem;

  /*========== Font weight ==========*/
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /*========== Transition ==========*/
  --transition:cubic-bezier(0,0,0.05,1) ;
}

/* Responsive typography */
@media screen and (max-width: 1200px) {
  :root {
    --big-font-size: ;
    --h1-font-size: ;
    --h2-font-size: ;
    --h3-font-size: ;
    --h4-font-size: ;
    --large-font-size: ;
    --normal-font-size: ;
    --small-font-size: ;
    --smaller-font-size: ;
    --tiny-font-size: ;
  }
}

/*=============== BASE ===============*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea,
body{
  color: var(--text-color);
  font-family: var(--body-font);
  font-size:var(--normal-font-size);
  font-weight: var(--weight-400);
}

body{
  background-color: var(--body-color);
}
h1,h2,h3,h4{
  font-family: var(--second-font);
  color: var(--title-color);
  font-weight: var(--weight-600);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}
p{
  line-height: 1.5rem;
}
img{
  max-width: 100%;
}
button,
textarea,
input{
  background-color: transparent;
  border: none;
  outline: none;
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container{
  width: 80%;
  margin: 0 auto;
}

.flex{
  display: flex;
  flex-direction: column;
}

.grid{
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  column-gap:1rem ;
}

.pink{
  background-color: rgba(216, 143, 232, 0.95) !important;
}

.orange{
  background-color: rgba(231, 132, 71, 0.95) !important;
}

.red{
  background-color: rgba(231, 74, 71, 0.95) !important;
}

.flex-two{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*=============== HEADER & NAV ===============*/
.top_header{
  background-color: var(--first-color-alt);
  border-bottom: 1px solid var(--first-color);
  font-size: 14px;
}

.header_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color-light);
  padding: 5px;
}

.header_contact span:first-child{
  padding-right: 20px;
}

.header-top-action{
  color: var(--text-color-light);
}


.logo img{
  width: 100px;
}


.nav{
  padding: 10px 0;
  margin: 15px auto;
}

.nav,
.nav-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list{
  padding-left: -30px;
}

.nav-list .nav-item a{
  color: var(--title-color);
  font-weight: var(--weight-600);
  padding: 0 15px;

}

.nav-list .nav-item a:hover{
  color: var(--first-color);
}

.header-search{
  border: 1px solid var(--border-color);
  padding: 7px;
  border-radius: 5px;
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.header-search input::placeholder{
  color: var(--text-color-light);
  padding-left: 5px;
  font-size: var(--small-font-size);
}

.header-search:focus{
  border:2px solid var(--first-color) ;
  box-shadow: 0 0 10px 0 var(--first-color);}

.header-search img{
  width: 15px;
  z-index: 4;
  cursor: pointer;
}

.header-user-btn {
  position: relative;
  padding-left:10px ;
}
.header-user-actions span{
  position: absolute;
  top: -15px;
  right: -10px;
  font-size: var(--small-font-size);
  background-color: var(--first-color);
  color: var(--second-color);
  height: 18px;
  width: 18px;
  line-height: 18px ;
  border-radius: 50%;
  text-align: center;
}

.header-user-btn img{
  width: 22px;
}
/* Active link */
.active-link{
  color: var(--first-color) !important;
}
/*=============== HOME ===============*/
.home-content{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom:5px ;
}

.home-text{
  margin-top: 40px;
}
.home-content .home-text p{
  color: var(--text-color-light);
  font-size: var(--small-font-size);
}

.home-content .home-text p:first-child{
  font-weight: var(--weight-700);
}

.home-text .trending{
  color: var(--title-color);
  font-size: 45px;
  font-weight: var(--weight-600);
  margin-top: 10px;
}

.home-text .great-collection{
  color: var(--first-color);
  font-size: 60px;
  font-weight: var(--weight-600); 
  margin-bottom: 10px;
}
.home-content .img img{
  width: 500px;
  align-items: center;
}

.home-content button{
  background-color: var(--first-color);
  color: var(--first-color-alt);
  font-weight: var(--weight-600);
  padding: 10px 30px;
  border-radius: 5px;
  margin:20px 20px;
  cursor: pointer;
  height: 40px;
}

.home-content button:hover{
  border: 1px solid var(--first-color);
  background-color: var(--first-color-alt);
  color: var(--first-color);
  
}
/*=============== BUTTONS ===============*/

/*=============== CATEGORIES ===============*/
.swiper{
  overflow: initial;
}


.categories{
overflow: hidden;}

.swiper-button-next::after,
.swiper-button-prev::after{
    content: '';
}

.swiper-button-next,
.swiper-button-prev{
  top: -15px;
  background-color: var(--first-color-alt);
  color: var(--first-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.swiper-button-prev{
  left: initial;
  right: 40px;
}

.swiper-button-next{
  right: 0;
}

.categories {
  margin: 150px auto;
}

.categories .section-title{
  padding: 20px 10px  ;
  font-size: 20px;
  color: var(--title-color);
  
}

.categories .section-title span{
  font-size: 25px;
  color: var(--first-color);
}

.categories .categories-item{
  text-align: center;
  padding: 10px;
  border: 1px solid var(--border-color-alt);
  border-radius: 10px;
}

.categories .categories-item .category-title{
  margin: 20px 0 10px;
  color: var();
}

.categories .category-img{
  border-radius: 10px;
}



/*=============== PRODUCTS ===============*/

.products .tab-btns{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 2rem;
}

.products .tab-btn{
  background-color: var(--container-color);
  color: var(--title-color);
  font-weight: var(--weight-600);
  font-family: var(--second-font);
  padding: 15px 20px;
  margin-right:10px ;
  border-radius: 10px;
  cursor: pointer;

}

.product-item .product-img{
  width: 100%;
  padding: 5px ;
  border-radius: 20px;
}

.tab-items{
  margin-top: 2rem;
}
.product-item{
  border: 1px solid var(--border-color-alt);
  border-radius: 10px;
  margin: 10px auto;
  position: relative;
}

.product-imgs{
  position: relative;
  
}

.product-imgs{
  display: block;
  overflow: hidden;
  border-radius: 10px;
}

.product-item:hover .product-img{
  transform: scale(1.1);
}

.product-img{
  vertical-align: middle;
  transition: all 1.2s var(--transition);
}


.product-imgs .hover{
  position: absolute;
  top: 0;
  left: 0;
}

.product-banner{
  position: relative;
}


.product-item .product-actions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  display: flex;
  column-gap: 0.5rem;
}
.product-actions .action-icon{
  background-color: var(--first-color-alt);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  color: var(--first-color);
  border: 1px solid var(--border-color);
  position: relative;
}
.product-item .badge{
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: var(--first-color);
  color: var(--first-color-alt);
  font-size: var(--small-font-size);
  padding: 2px 10px ;
  border-radius: 10px;
}



.product-details .type{
  padding: 10px;
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  font-weight: var(--weight-600);
}

.product-details .product-title{
  padding: 8px;
  font-size: var(--large-font-size);
  font-weight: var(--weight-600);
}

.product-item .stars{
  padding:0 10px;
  color: rgb(255, 208, 0);
}

.product-item .product-prices{
  display: flex;
  padding: 10px;
}

.product-item .product-prices .real{
  color: var(--first-color);
  font-size: var(--normal-font-size);
  font-weight: var(--weight-700);
  padding-right: 7px;
}

.product-item .product-prices .old{
  padding-top: 2px;
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  font-weight: var(--weight-500);
}

.product-item .bag-add a {
  position: absolute;
  right: 15px;
  bottom: 15px;
  background-color: var(--first-color-alt);
  color: var(--first-color);
  padding: 8px;
  border-radius: 50%;
}
/* Active Tab */
.products .active-btn{
  background-color: var(--second-color);
  color: var(--first-color);
}

.action-btn::after,
.action-btn::before{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.action-icon:hover{
  background-color: var(--first-color);
  color: var(--first-color-alt);
  border-color: var(--first-color);
}

.action-btn::before{
  content: '';
  top: -7px;
  border: 6px solid transparent;
  border-top-color:var(--first-color)
}

.action-btn::after{
  content: attr(aria-label);
  background-color: var(--first-color);
  color: var(--first-color-alt);
  bottom: 35px;
  padding-inline: 10px;
  white-space: nowrap;
  border-radius: 10px;
  font-size: var(--small-font-size);
  font-weight: var(--weight-400);
  line-height: 2;
}
/* Product Hover */

.action-btn::after,
.action-btn::before,
.product-img.hover,
.product-item:hover  .product-img.default,
.product-actions {
  opacity: 0;
}

.action-btn:hover::after,
.action-btn:hover::before,
.product-item:hover  .product-img.hover,
.product-item:hover .product-actions {
  opacity: 1;
} 

.action-btn:hover::after,
.action-btn:hover::before{
  transition: all .3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
}



.product-item:hover{
  box-shadow:  0 0 30px hsla(0, 1% , 0% ,0.1);
}



/*=============== DEALS ===============*/
.deals{
  margin: 100px auto;
}


.deal-left{
  width: 47%;
  position: relative;

}

.deal-right{
  width: 47%;
  position: relative;
}

.deal-left img{
  background-position: center;
  background-size: cover;
  height: 325px;
  margin: 10px;
  width: 100%;
  border-radius: 3px;
  
}

.deal-right img{
  background-position: center;
  background-size: cover;
  height: 325px;
  width: 100%;
  border-radius: 3px;
  position: relative;
}

.deal-content{
  position: absolute;
  top: 25px;
  left: 50px;
  z-index: 2;
}

.deal-content h3{
  color: var(--first-color);
  font-size: 30px;
  font-weight: var(--weight-500);
}

.deal-content span{
  color: var(--text-color-light);
  font-size: var(--small-font-size);
}

.deal-content p {
color: var(--text-color); 
font-weight: var(--weight-500);
margin: 15px 0 ; 
line-height: 1.2;
}

.deal-content .price{
  margin-bottom: 10px;
}

.deal-content .price span{
  color: #e31818;
  font-weight: var(--weight-700);
  font-size: 18px;
  margin-right: 5px;
}

.deal-content .price del{
  color: var(--text-color-light);
}

.deal-content .time-details{
  display: flex;
  align-items: center;
}

.deal-content .time-details .block{
  margin-right: 10px;
}

.deal-content .time-details .block .num{
  background-color: var(--first-color);
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--first-color-alt);
  border-radius: 3px;
  margin-top: 5px;
}

.deal-content .time-details .block span{
  padding: 5px;
  color: var(--text-color);
}

.deal-content .btn{
  margin-top: 20px;
  color: var(--first-color);
  border: 1px solid var(--first-color);
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 3px;
  margin-left: 20px;
  transition: all .9s var(--transition);

}

.deal-content .btn:hover{
  background-color: var(--first-color);
  color: var(--first-color-alt);
}
/*=============== NEW ARRIVALS ===============*/
.new__arrivals{
  overflow: hidden;
  margin: 20px auto;
  padding: 20px ;
}

/*=============== SHOWCASE ===============*/

.hot-releases .title{
  padding: 8px 0;
  font-weight: var(--weight-600);
  border-bottom: 1px solid var(--border-color-alt);
  margin: 5px 0 ;
  position: relative;
}

.hot-releases .title::after{
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  width: 60px;
  height: 2px;
  background-color: var(--first-color);
}

.releases-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:20px 0 ;
  transition: all 1.2s var(--transition);

}

.releases-content:hover{
  box-shadow:  0 0 30px hsla(0, 1% , 0% ,0.1);
  border-radius: 10px;
}
.releases-content .img{
  width: 80px;
  border-radius: 10px;
  height: 100%;
}

.releases-content .details{
  margin-left: 20px;
}

.details p{
  color: var(--text-color);
  font-size: var(--small-font-size);
}

.details .price span {
  color: var(--first-color);
  font-weight: var(--weight-600);
}
.details .price del{
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  margin-left: 5px;
}

/*=============== NEWSLETTER ===============*/
.newsletter{
  background-color: rgb(171, 220, 197);
  height: 100px;
  margin: 50px 0;
  display: flex;
  align-items: center;
}


.signup{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup a{
  color: var(--text-color);
  font-weight: var(--weight-600);
}
.signup p{
  color: var(--text-color);
  font-size: var(--small-font-size);
}

.info{
  width: 450px;
  display:flex;
}
.signup .info input{
  background-color: var(--body-color);
  padding: 8px;
  width: 300px;
}

.signup .info input::placeholder{
  font-size: 12px;
}


.info button{
  background-color: black;
  padding: 13px;
  color: var(--first-color-alt);
  width: calc(100% - 320px);
  margin-left: 0;
  cursor: pointer;
}

/*=============== FOOTER ===============*/

.footer-container{
  display: flex;
  justify-content: space-between;
}

.contact-info span{
  color: var(--text-color-light);
  font-weight: var(--weight-500);
  margin-top:10px ;
  display: flex;
  flex-direction: column;
}

.contact-info .contact-content{
  margin: 20px 0 ;
}

.follow-me .icons{
  display: flex; 
  margin: 10px 0 ;
}

.follow-me .icons img{
width: 20px;
cursor: pointer;
margin-right: 5px;
}

.address {
  display: flex;
  flex-direction: column;
}
.address a{
  font-size: var(--small-font-size);
  line-height: 2;
}

.address b {
  margin-bottom: 10px ;
}
.address a,
.address b {
  color: var(--text-color);
}
.my-account {
  display: flex;
  flex-direction: column;
}

.my-account a{
  font-size: var(--small-font-size);
  line-height: 2;
}

.my-account b {
  margin-bottom: 10px ;
}
.my-account a,
.my-account b {
  color: var(--text-color);
}

.designed-by{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  margin-top: 20px ;
  border-top: 1px solid var(--border-color);
}

.designed-by span{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  padding: 0 10px ;
}
/*=============== BREADCRUMBS ===============*/

/*=============== SHOP ===============*/

/*=============== DETAILS ===============*/

/*=============== DETAILS INFO & REVIEWS ===============*/

/*=============== CART ===============*/

/*=============== CART OTHERS ===============*/

/*=============== WISHLIST ===============*/

/*=============== CHECKOUT ===============*/

/*=============== COMPARE ===============*/

/*=============== LOGIN & REGISTER ===============*/

/*=============== ACCOUNTS ===============*/

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
}

/* For medium devices */
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

/* For small devices */
@media screen and (max-width: 576px) {
}

@media screen and (max-width: 350px) {
}
